<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigateTo('bano')">
      <ion-icon name="water"></ion-icon>
      <ion-label>Baño</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('sala')">
      <ion-icon name="tv"></ion-icon>
      <ion-label>Sala</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('cocina')">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Cocina</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('cuarto')">
      <ion-icon name="bed"></ion-icon>
      <ion-label>Cuarto</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('lavanderia')">
      <ion-icon name="shirt"></ion-icon>
      <ion-label>Lavandería</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="navigateTo('biblioteca')">
      <ion-icon name="book"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
